{{ define "title" }}Contacts - HTMX+GO Demo Application{{ end }}
{{ define "body" }}
<main>
  {{ template "header" }}
      <!-- <div class="flash">{{ .Flash }}</div> -->

  {{ template "archive" .}}
  {{ template "search" }}

    <form x-data="{ selected: [] }">
    {{ template "selected" .}}
    <table>
        <thead>
        <tr>
            <th></th>
            <th>First</th>
            <th>Last</th>
            <th>Phone</th>
            <th>Email</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {{ template "rows" .}}
        </tbody>
    </table>
        <button hx-post="/contacts/delete"
                hx-confirm="Are you sure you want to delete these contacts?"
                hx-target="body">
            Delete Selected Contacts
        </button>
    </form>
    <p>
        <a href="/contacts/new">Add Contact</a>
        <span hx-get="/contacts/count" hx-trigger="revealed">
          <img id="spinner"
            style="height: 20px"
            class="htmx-indicator"
            src="/static/img/spinning-circles.svg"
          />

        </span>
    </p>

</main>
{{ end }}
